<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dicesim2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kost"
        android:label="Бросок костей"
        android:roundIcon="@mipmap/nat20_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiceSim2">
        <activity android:name=".About"></activity>
        <activity android:name=".Changelogs" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".Stats" />
        <activity android:name=".D20" />
        <activity android:name=".CustomDice" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>